<div class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button
      [article]="article"
      (toggle)="toggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>

  <button (click)="toggleMessage()">afficher le message</button>
  <div *ngIf="article.showDescription">
    <h1 class="message-title">{{ article.title }}</h1>
    <p class="message-description petite-text">{{ article.description }}</p>
    <a [routerLink]="['/article', article.slug]">Read more...</a>
    <ul class="tag-list">
      <li
        class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </div>
</div>
