.message-title {
  animation: animate 1.5s linear infinite;
}

.message-description {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.petite-text {
  font-size: 10px;
}
