.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.logo-font {
  font-size: 2em;
  text-align: center;
  color: #333;
  animation: bounce 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-container {
  display: inline-block;
}

.rotate-container p {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: rotate 4s infinite linear;
}

.rotate-container p:hover {
  background-color: #2980b9;
}

.special-text {
  font-family: "Lobster", cursive;
  font-size: 2em;
}
